//fontcolor
//$fontcolor-body: #054C73;
$fontcolor-header: #B88E2F;
$fontcolor-lightgray: #9F9F9F;
$fontcolor-body: #616161;
$fontcolor-subheader: #3A3A3A;
//layout color
$color-primary: #F6D8C6;
$color-secondary: #FFF3E3;
$color-tertiary: #FAF3EA;
$color-quartery: #FCF8F3; //inspiration section
$color-accent: #B88E2F;
//components
$color-nonactivebutton: #F9F1E7; //+ filterbar + productsubnavbar + checkout header + product bg + cart totals bg
$color-producttext: #F4F5F7;
$color-discount: #E97171;
$color-new: #2EC1AC;
$color-nonactivereel: #D8D8D8;
$color-colorswatch: #816DFA;